{
  "semi": true,                      
  "singleQuote": true,               
  "trailingComma": "all",            
  "printWidth": 80,                  
  "tabWidth": 2,                     
  "useTabs": false,                  
  "bracketSpacing": true,            
  "jsxSingleQuote": false,           
  "jsxBracketSameLine": false,       
  "arrowParens": "avoid",            
  "endOfLine": "lf",                 
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": "*.tsx",
      "options": {
        "parser": "typescript"
      }
    }
  ]
}
